* {
  box-sizing: border-box;
  transition: all .5s;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .5s;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: all .5s;
}

body {
  overflow-x: hidden;
  transition: all .5s;
}

.utterances {
  max-width: 100% !important;
  transition: all .5s;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}
